# Global ownership

- @bojancreator

# Core plugin code

/plugin/\*\* @bojancreator

# Configuration files

/config/\*\* @bojancreator

# Documentation

/docs/\*\* @bojancreator

# Build tools

/tools/\*\* @bojancreator

# GitHub workflows

/.github/\*\* @bojancreator
