parameters:
	ignoreErrors:
		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Method Joomla\\\\CMS\\\\Plugin\\\\CMSPlugin\\:\\:__construct\\(\\) invoked with 2 parameters, 0 required\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Method PlgSystemJoomlaboost\\:\\:addSchemaMarkup\\(\\) is unused\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Method PlgSystemJoomlaboost\\:\\:generateDiagnosticData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Method PlgSystemJoomlaboost\\:\\:logDebug\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Parameter \\#1 \\$serviceKey of method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\ServiceContainer\\:\\:get\\(\\) expects class\\-string\\<JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\ServiceInterface\\>, string given\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Unable to resolve the template type T in call to method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\ServiceContainer\\:\\:get\\(\\)$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Template type T of method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\AbstractService\\:\\:getService\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: ../plugin/src/Services/AbstractService.php

		-
			message: "#^Unable to resolve the template type T in call to method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\ServiceContainer\\:\\:get\\(\\)$#"
			count: 1
			path: ../plugin/src/Services/AbstractService.php

		-
			message: "#^Method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\OpenGraphService\\:\\:getArticleTimestamps\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../plugin/src/Services/OpenGraphService.php

		-
			message: "#^Call to an undefined method Joomla\\\\CMS\\\\Document\\\\HtmlDocument\\:\\:getMetaData\\(\\)\\.$#"
			count: 1
			path: ../plugin/src/Services/PerformanceService.php

		-
			message: "#^Method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\PerformanceService\\:\\:getPerformanceMetrics\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../plugin/src/Services/PerformanceService.php

		-
			message: "#^Parameter \\#1 \\$callback of function spl_autoload_register expects \\(callable\\(string\\)\\: void\\)\\|null, array\\{'JoomlaBoost\\\\\\\\Plugin\\\\\\\\System\\\\\\\\JoomlaBoost\\\\\\\\Services\\\\\\\\ServiceAutoloader', 'autoload'\\} given\\.$#"
			count: 1
			path: ../plugin/src/Services/ServiceAutoloader.php

		-
			message: "#^Method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\ServiceContainer\\:\\:__call\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../plugin/src/Services/ServiceContainer.php

		-
			message: "#^Method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\ServiceContainer\\:\\:getMetrics\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../plugin/src/Services/ServiceContainer.php

		-
			message: "#^Unable to resolve the template type T in call to method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\ServiceContainer\\:\\:get\\(\\)$#"
			count: 3
			path: ../plugin/src/Services/ServiceContainer.php
