includes:
  - phpstan-baseline.neon

parameters:
  paths:
    - ../src/plugins/system/joomlaboost/src
  level: 4
  ignoreErrors:
    - '#unknown class Joomla\\#'
    - '#Class Joomla\\Database\\DatabaseInterface not found#'
    - '#Constant JPATH_#'
    - '#Call to an undefined (static )?method Joomla\\#'
    - '#Static method Joomla\\CMS\\Factory::getUser\(\) invoked with 0 parameters#'
    - '#Access to an undefined property object#'
    - '#Template type T.*is not referenced in a parameter#'
    - '#is unused#'
  excludePaths:
    - ../src/plugins/system/joomlaboost/src/Field
  bootstrapFiles:
    - ../stubs/autoload.php
    - ../stubs/bootstrap.php
