parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property PlgSystemJoomlaboost\\:\\:\\$metaPixelService\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Access to an undefined property PlgSystemJoomlaboost\\:\\:\\$openGraphService\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Access to an undefined property PlgSystemJoomlaboost\\:\\:\\$performanceService\\.$#"
			count: 3
			path: ../plugin/joomlaboost.php

		-
			message: "#^Access to an undefined property PlgSystemJoomlaboost\\:\\:\\$schemaService\\.$#"
			count: 2
			path: ../plugin/joomlaboost.php

		-
			message: "#^Instantiated class MetaPixelService not found\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Instantiated class OpenGraphService not found\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Instantiated class PerformanceService not found\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Instantiated class SchemaService not found\\.$#"
			count: 2
			path: ../plugin/joomlaboost.php

		-
			message: "#^Method PlgSystemJoomlaboost\\:\\:addSchemaMarkup\\(\\) is unused\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Method PlgSystemJoomlaboost\\:\\:getServiceContainer\\(\\) is unused\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Method PlgSystemJoomlaboost\\:\\:logDebug\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../plugin/joomlaboost.php

		-
			message: "#^Template type T of method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\AbstractService\\:\\:getService\\(\\) is not referenced in a parameter\\.$#"
			count: 1
			path: ../plugin/src/Services/AbstractService.php

		-
			message: "#^Unable to resolve the template type T in call to method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\ServiceContainer\\:\\:get\\(\\)$#"
			count: 1
			path: ../plugin/src/Services/AbstractService.php

		-
			message: "#^Method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\OpenGraphService\\:\\:getArticleTimestamps\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../plugin/src/Services/OpenGraphService.php

		-
			message: "#^Call to an undefined method Joomla\\\\CMS\\\\Document\\\\HtmlDocument\\:\\:getMetaData\\(\\)\\.$#"
			count: 1
			path: ../plugin/src/Services/PerformanceService.php

		-
			message: "#^Method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\PerformanceService\\:\\:getPerformanceMetrics\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../plugin/src/Services/PerformanceService.php

		-
			message: "#^Parameter \\#1 \\$callback of function spl_autoload_register expects \\(callable\\(string\\)\\: void\\)\\|null, array\\{'JoomlaBoost\\\\\\\\Plugin\\\\\\\\System\\\\\\\\JoomlaBoost\\\\\\\\Services\\\\\\\\ServiceAutoloader', 'autoload'\\} given\\.$#"
			count: 1
			path: ../plugin/src/Services/ServiceAutoloader.php

		-
			message: "#^Method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\ServiceContainer\\:\\:__call\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../plugin/src/Services/ServiceContainer.php

		-
			message: "#^Method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\ServiceContainer\\:\\:getMetrics\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../plugin/src/Services/ServiceContainer.php

		-
			message: "#^Unable to resolve the template type T in call to method JoomlaBoost\\\\Plugin\\\\System\\\\JoomlaBoost\\\\Services\\\\ServiceContainer\\:\\:get\\(\\)$#"
			count: 3
			path: ../plugin/src/Services/ServiceContainer.php
