includes:
  - phpstan-baseline.neon

parameters:
  paths:
    - ../plugin
  level: 6
  ignoreErrors: []
  excludePaths:
    # Isključi optimizovane verzije plugin-a
    - ../plugin/joomlaboost-*.php
  bootstrapFiles:
    - ../stubs/autoload.php
    - ../stubs/bootstrap.php

# Baseline is temporarily disabled; regenerate after we clean real issues
